In [2]:
import os
from dotenv import load_dotenv
import requests
import pandas as pd
import matplotlib as plt
import json
from fredapi import Fred

/var/folders/wr/rqmlsdm96r917lc0k6sr9c640000gn/T/ipykernel_14999/3984096865.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
load_dotenv()
fred_api_key = os.getenv("FRED_API_KEY")
fred = Fred(api_key=fred_api_key)

In [4]:
df_msa_pop = fred.search('Resident Population')
# df_inc = df_inc.query('units == ""')

df_msa_pop = df_msa_pop.loc[df_msa_pop['title'].str.contains('Resident Population')]

In [5]:
df_msa_pop['seasonal_adjustment'].value_counts()

seasonal_adjustment
Not Seasonally Adjusted    1000
Name: count, dtype: int64

In [6]:
df_msa_pop.shape

(1000, 15)

In [7]:
df_msa_pop

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
CAPOP,CAPOP,2024-01-28,2024-01-28,Resident Population in California,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:01-06:00,47,"Data for ""Resident Population"" from 1900 to pr..."
DFWPOP,DFWPOP,2024-01-28,2024-01-28,Resident Population in Dallas-Fort Worth-Arlin...,2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:45:02-05:00,41,All observations are July 1 estimates of each ...
FLPOP,FLPOP,2024-01-28,2024-01-28,Resident Population in Florida,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:02-06:00,40,"Data for ""Resident Population"" from 1900 to pr..."
TXPOP,TXPOP,2024-01-28,2024-01-28,Resident Population in Texas,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:02-06:00,36,"Data for ""Resident Population"" from 1900 to pr..."
NYPOP,NYPOP,2024-01-28,2024-01-28,Resident Population in New York,1900-01-01,2023-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-12-19 10:44:02-06:00,35,"Data for ""Resident Population"" from 1900 to pr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SCBERK0POP,SCBERK0POP,2024-01-28,2024-01-28,"Resident Population in Berkeley County, SC",1970-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-03 10:01:22-05:00,1,"Data for ""Resident Population"" are estimates a..."
SDUNIO7POP,SDUNIO7POP,2024-01-28,2024-01-28,"Resident Population in Union County, SD",1970-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-03 10:01:19-05:00,1,"Data for ""Resident Population"" are estimates a..."
VACULP7POP,VACULP7POP,2024-01-28,2024-01-28,"Resident Population in Culpeper County, VA",1970-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-03 10:00:51-05:00,1,"Data for ""Resident Population"" are estimates a..."
NYCHAU5POP,NYCHAU5POP,2024-01-28,2024-01-28,"Resident Population in Chautauqua County, NY",1970-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-03 10:00:05-05:00,1,"Data for ""Resident Population"" are estimates a..."
WAKLIC9POP,WAKLIC9POP,2024-01-28,2024-01-28,"Resident Population in Klickitat County, WA",1970-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-03 10:00:42-05:00,1,"Data for ""Resident Population"" are estimates a..."

In [8]:
msa_pop_result = df_msa_pop[df_msa_pop['title'].str.contains('(MSA)')]

/var/folders/wr/rqmlsdm96r917lc0k6sr9c640000gn/T/ipykernel_14999/3422766013.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  msa_pop_result = df_msa_pop[df_msa_pop['title'].str.contains('(MSA)')]

In [9]:
msa_pop_result.shape

(286, 15)

In [10]:
msa_pop_result

,id,realtime_start,realtime_end,title,observation_start,observation_end,frequency,frequency_short,units,units_short,seasonal_adjustment,seasonal_adjustment_short,last_updated,popularity,notes
series id,,,,,,,,,,,,,,,
DFWPOP,DFWPOP,2024-01-28,2024-01-28,Resident Population in Dallas-Fort Worth-Arlin...,2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:45:02-05:00,41,All observations are July 1 estimates of each ...
AUSPOP,AUSPOP,2024-01-28,2024-01-28,"Resident Population in Austin-Round Rock, TX (...",2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:45:03-05:00,31,All observations are July 1 estimates of each ...
ATLPOP,ATLPOP,2024-01-28,2024-01-28,Resident Population in Atlanta-Sandy Springs-R...,2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:45:05-05:00,30,All observations are July 1 estimates of each ...
TMAPOP,TMAPOP,2024-01-28,2024-01-28,Resident Population in Tampa-St. Petersburg-Cl...,2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:45:07-05:00,29,All observations are July 1 estimates of each ...
NVLPOP,NVLPOP,2024-01-28,2024-01-28,Resident Population in Nashville-Davidson--Mur...,2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:45:04-05:00,29,All observations are July 1 estimates of each ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SSMPOP,SSMPOP,2024-01-28,2024-01-28,"Resident Population in Salinas, CA (MSA)",2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:46:55-05:00,2,All observations are July 1 estimates of each ...
WIFPOP,WIFPOP,2024-01-28,2024-01-28,"Resident Population in Wichita Falls, TX (MSA)",2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:46:39-05:00,2,All observations are July 1 estimates of each ...
STOPOP,STOPOP,2024-01-28,2024-01-28,"Resident Population in Stockton-Lodi, CA (MSA)",2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:46:20-05:00,2,All observations are July 1 estimates of each ...
VFRPOP,VFRPOP,2024-01-28,2024-01-28,"Resident Population in Vallejo-Fairfield, CA (...",2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:46:56-05:00,2,All observations are July 1 estimates of each ...
SHMPOP,SHMPOP,2024-01-28,2024-01-28,"Resident Population in Sherman-Denison, TX (MSA)",2000-01-01,2022-01-01,Annual,A,Thousands of Persons,Thous. of Persons,Not Seasonally Adjusted,NSA,2023-05-19 14:46:35-05:00,2,All observations are July 1 estimates of each ...

In [11]:
all_result =[]

for id in msa_pop_result.index:
    result = fred.get_series(id)
    result = result.to_frame(name = id)
    all_result.append(result)

In [12]:
all_result[1]
# Thousands of Persons

              AUSPOP
2000-01-01  1265.715
2001-01-01  1324.426
2002-01-01  1353.176
2003-01-01  1382.693
2004-01-01  1418.999
2005-01-01  1464.309
2006-01-01  1528.958
2007-01-01  1594.525
2008-01-01  1654.100
2009-01-01  1705.075
2010-01-01  1727.514
2011-01-01  1780.679
2012-01-01  1834.861
2013-01-01  1883.749
2014-01-01  1943.017
2015-01-01  2002.814
2016-01-01  2062.808
2017-01-01  2115.999
2018-01-01  2166.805
2019-01-01  2228.106
2020-01-01  2299.994
2021-01-01  2358.130
2022-01-01  2421.115

In [13]:
pop_msa = pd.concat(all_result, axis=1)

In [14]:
pop_msa.head()

,DFWPOP,AUSPOP,ATLPOP,TMAPOP,NVLPOP,HTNPOP,PHXPOP,MIMPOP,CGRPOP,ORLPOP,...,RMEPOP,NAPPOP,ODEPOP,AMAPOP,LEOPOP,SSMPOP,WIFPOP,STOPOP,VFRPOP,SHMPOP
2000-01-01,5196.188,1265.715,4281.905,2404.273,1317.580,4739.414,3278.661,5025.806,1340.417,1656.835,...,90.811,124.545,120.685,227.117,194.523,403.065,151.584,567.968,396.974,110.993
2001-01-01,5354.623,1324.426,4432.950,2442.189,1343.263,4851.189,3388.445,5120.256,1375.381,1708.955,...,91.165,126.731,120.591,228.333,199.914,407.065,150.142,591.000,403.862,112.375
2002-01-01,5476.578,1353.176,4555.490,2483.575,1363.834,4978.638,3496.957,5212.602,1406.699,1756.852,...,92.612,128.584,121.768,230.227,205.096,409.210,150.331,608.367,407.855,113.256
2003-01-01,5582.033,1382.693,4673.146,2522.780,1386.743,5084.017,3600.163,5280.671,1436.890,1803.474,...,93.461,129.800,122.021,232.791,210.229,410.419,150.809,625.236,408.397,114.358
2004-01-01,5689.982,1418.999,4802.300,2578.104,1416.452,5190.444,3723.359,5362.678,1471.706,1866.597,...,93.864,130.007,123.243,235.113,215.775,408.867,151.064,640.964,408.346,114.908

In [15]:
# keep only the first 23 rows
pop_msa = pop_msa.iloc[:23,]

In [16]:
msa_pop_result.title

series id
DFWPOP    Resident Population in Dallas-Fort Worth-Arlin...
AUSPOP    Resident Population in Austin-Round Rock, TX (...
ATLPOP    Resident Population in Atlanta-Sandy Springs-R...
TMAPOP    Resident Population in Tampa-St. Petersburg-Cl...
NVLPOP    Resident Population in Nashville-Davidson--Mur...
                                ...
SSMPOP             Resident Population in Salinas, CA (MSA)
WIFPOP       Resident Population in Wichita Falls, TX (MSA)
STOPOP       Resident Population in Stockton-Lodi, CA (MSA)
VFRPOP    Resident Population in Vallejo-Fairfield, CA (...
SHMPOP     Resident Population in Sherman-Denison, TX (MSA)
Name: title, Length: 286, dtype: object

In [17]:
id_to_state = msa_pop_result['title'].str.replace('Resident Population in ','').to_dict()

In [18]:
pop_msa.columns = [id_to_state[d] for d in pop_msa.columns]

In [19]:
pop_msa.head()

,"Dallas-Fort Worth-Arlington, TX (MSA)","Austin-Round Rock, TX (MSA)","Atlanta-Sandy Springs-Roswell, GA (MSA)","Tampa-St. Petersburg-Clearwater, FL (MSA)","Nashville-Davidson--Murfreesboro--Franklin, TN (MSA)","Houston-The Woodlands-Sugar Land, TX (MSA)","Phoenix-Mesa-Scottsdale, AZ (MSA)","Miami-Fort Lauderdale-West Palm Beach, FL (MSA)","Charlotte-Concord-Gastonia, NC-SC (MSA)","Orlando-Kissimmee-Sanford, FL (MSA)",...,"Rome, GA (MSA)","Napa, CA (MSA)","Odessa, TX (MSA)","Amarillo, TX (MSA)","Laredo, TX (MSA)","Salinas, CA (MSA)","Wichita Falls, TX (MSA)","Stockton-Lodi, CA (MSA)","Vallejo-Fairfield, CA (MSA)","Sherman-Denison, TX (MSA)"
2000-01-01,5196.188,1265.715,4281.905,2404.273,1317.580,4739.414,3278.661,5025.806,1340.417,1656.835,...,90.811,124.545,120.685,227.117,194.523,403.065,151.584,567.968,396.974,110.993
2001-01-01,5354.623,1324.426,4432.950,2442.189,1343.263,4851.189,3388.445,5120.256,1375.381,1708.955,...,91.165,126.731,120.591,228.333,199.914,407.065,150.142,591.000,403.862,112.375
2002-01-01,5476.578,1353.176,4555.490,2483.575,1363.834,4978.638,3496.957,5212.602,1406.699,1756.852,...,92.612,128.584,121.768,230.227,205.096,409.210,150.331,608.367,407.855,113.256
2003-01-01,5582.033,1382.693,4673.146,2522.780,1386.743,5084.017,3600.163,5280.671,1436.890,1803.474,...,93.461,129.800,122.021,232.791,210.229,410.419,150.809,625.236,408.397,114.358
2004-01-01,5689.982,1418.999,4802.300,2578.104,1416.452,5190.444,3723.359,5362.678,1471.706,1866.597,...,93.864,130.007,123.243,235.113,215.775,408.867,151.064,640.964,408.346,114.908

In [20]:
pop_msa.to_csv('../cleansed data/fred_msa_population.csv')