In [2]:
import pandas as pd

In [3]:
# import largest_cities.csv
cities = pd.read_csv('../raw data/largest_cities.csv')

In [4]:
c1 = cities[['City1', 'State', 'Population1']]
c2 = cities[['City2', 'State', 'Population2']]
c3 = cities[['City3', 'State', 'Population3']]
c4 = cities[['City4', 'State', 'Population4']]
c5 = cities[['City5', 'State', 'Population5']]

In [5]:
c1.columns = ['City', 'State', 'Population']
c2.columns = ['City', 'State', 'Population']
c3.columns = ['City', 'State', 'Population']
c4.columns = ['City', 'State', 'Population']
c5.columns = ['City', 'State', 'Population']

In [6]:
c4.head()

         City           State  Population
0      Mobile         Alabama    187041.0
1     Wasilla          Alaska     10529.0
2    'Ili'ili  American Samoa      3195.0
3    Chandler         Arizona    257165.0
4  Springdale        Arkansas     84161.0

In [7]:
df = pd.concat([c1, c2, c3, c4, c5], axis=0)
df

            City           State Population
0     Huntsville         Alabama     215006
1      Anchorage          Alaska     291538
2         Tafuna  American Samoa   7,945[4]
3        Phoenix         Arizona    1660272
4    Little Rock        Arkansas     202591
..           ...             ...        ...
51     Arlington        Virginia     224906
52      Bellevue      Washington     147599
53      Wheeling   West Virginia      26771
54        Racine       Wisconsin      77432
55  Rock Springs         Wyoming      23082

[280 rows x 3 columns]

In [8]:
# remove any rows with na values
df = df.dropna()

In [9]:
# output to csv
df.to_csv('../cleansed data/city_population.csv', index=False)